
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.block {
    display: inline-flex;
    flex-wrap: wrap;
}

.m-1 {
    margin: 1em;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-left {
    align-items: start;
    justify-content: flex-start;
}

.flex-right {
    align-items: end;
    justify-content: flex-end;
}

.size-full {
    width: 100%;
}

.size-half {
    width: 50%;
}

.size-quarter {
    width: 25%;
}

.size-80 {
    width: 80%;
}

.size-10 {
    width: 10%;
}

.size-a {
    width: 70em;
    max-width: 70em;
}

.center-text {
    text-align: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.t {
    background-color: black;
}